<div *ngIf="!access_permission_read && !access_permission_write "class="animated fadeIn">
    <div class="card card-default">
      <div class="card-body">
        <mat-card >
            <label>Sorry..!!  </label><br>
            <label>You dont have access to this section.</label>
        </mat-card>
  
      </div>
    </div>
  </div>
  <div *ngIf="access_permission_read || access_permission_write" class="animated fadeIn">
    <div class="card card-default">
        <div class="card-header">
            <i class="fa fa-picture-o"></i>Fraud User <span class="badge badge-info"></span>
            <div class="card-header-actions">
                  <div class="col">
                    <div class="float-right">
                        <button class="btn btn-success btn-sm btn-block" type="button" (click)="findUserModal()"
                            style="float: right;">Find UserID</button>
  
                    </div>
                </div>
            </div>
        </div>
        <div class="card-body">
  
            <div class="form-group">
                <div class="border bg-light">
                    <div class="row mx-md-n2">
                        <div class="col px-md-2">
                            <div class="p-3">
                                <form [formGroup]="searchParamsForm">
                                    <div class="row">
                                        <div class="col">
                                            <label  class="form-label">User ID</label>
                                            <input type="text" class="form-control" formControlName="user_id"
                                                 placeholder="user #" [(ngModel)]="userID">
                                        </div>
  
                                        <div class="col p-4" *ngIf="access_permission_write">
                                            <button type="button" class="btn btn-success float-right"
                                                (click)="FraudUserMark(userID)">Fraud User</button>
                                        </div>
                                    </div>
                                </form>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
  <div class="card card-default">
      <div class="card-header">
          <div class="row">
              <div class="col">
                  <i class="fa fa-align-justify"></i> Report
              </div>
              <div class="col">
                  <div>
                      <button *ngIf="showDownloadButton" class="btn btn-success" type="button" id="button-addon3"
                          (click)="exportAsXLSX()" style="float: right;">download</button>
                  </div>
              </div>
          </div>
  
      </div>
  
      <div class="card-body">
        <mat-card *ngIf="dataSource?.filteredData.length">
            <label>Filter</label>
          <mat-form-field >
              <mat-label></mat-label>
              <input matInput placeholder="Filter" (keyup)="applyFilter($event)">
          </mat-form-field>
      </mat-card>
  
          <mat-card *ngIf="!dataSource?.filteredData.length" style="margin-bottom: 5px">
              <div><span>No Data to Display</span></div>
          </mat-card>
          <mat-card *ngIf="dataSource?.filteredData.length">
            <table class="table table-striped">
                <thead>
                    <tr>
                      <th>User Id</th>
                    </tr>
                </thead>
                <tbody>
                  <tr *ngFor="let user of allData">
                    <td   style=" cursor: pointer; color: royalblue;padding-left: 5px;padding-right:5px"
                    (click)="getUserDetail('userID',user)">{{user}}</td>
                  </tr>
                </tbody>
              </table>
          </mat-card>
  
          <mat-card *ngIf="dataSource?.filteredData.length">
              <mat-paginator [pageSize]="40" [pageSizeOptions]="[40]" showFirstLastButtons aria-label="Select page">
              </mat-paginator>
          </mat-card>
      </div>
  </div>
  </div>
  
  <app-user-detail *ngIf="showUserModal" [userModal]="userModal" (messageEvent)="receiveCloseModalMessage($event)"></app-user-detail>
  
  <app-find-user *ngIf="this.findUser" (messageEvent)="receiveFindUserIDCloseModalMessage($event)">
  </app-find-user>
  
  
  <div  class="modal" [style.display]="showAlertModal ? 'block' : 'none'">
    <div class="modal-dialog modal-lg">
      <div class="modal-content">
  
        <div class="modal-body">
          <p style="white-space: pre-wrap">{{alert}}</p>
          <br>
          <button  type="button" class="btn btn-primary me-md-3" (click)="closeAlertModal()">OK</button>
  
        </div>
        </div>
      </div>
    </div>
