th.mat-header-cell {
    text-align: center !important;
    justify-content:center !important;
}

td.mat-cell{
    border-right: solid 1px #ffffff; 
    border-left: solid 1px #ffffff;
    text-align: center !important;
}

::ng-deep .mat-sort-header-container {
    display:flex;
    justify-content:center;
}
