
<div *ngIf="access_permission_read || access_permission_write" class="animated fadeIn">
  <div class="card" id="new47">
    <div class="card-header">
      <i class="fa fa-font-awesome"></i> Manual Registrations
    </div>
    <div class="card-body">
      <div class="border bg-light">
            <form [formGroup]="searchParamsMobileForm">
              <div class="form-group">
                <div class="p-3">
                  <div class="row ">
                    <div class="col">
                      <label for="mobile_number">Mobile</label>
                      <div class="row">
                        <div class="col">
                          <input type="text" class="form-control" id="mobile_number" placeholder="Mobile"
                            formControlName="mobile_number" [(ngModel)]="mobile_number">
                        </div>
                        <div class="col" *ngIf="access_permission_write">
                          <button type="button" class="btn btn-success float-right" (click)="registerMobile()">Register
                            Mobile</button>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </form>
            <form [formGroup]="searchParamsEmailForm">
              <div class="form-group">
                <div class="p-3">
                  <div class="row">
                    <div class="col">
                      <label for="email">Email(Only gmail users)</label>
                      <div class="row">
                        <div class="col">
                          <input type="text" class="form-control" id="email" placeholder="Enter only gmail user"
                            formControlName="email" [ngModel]="email"
                            [ngClass]="{ 'is-invalid': submitted && searchParamsEmailFormControl.email.errors }">
                            <div *ngIf="submitted && searchParamsEmailFormControl.email.errors">
                              <div *ngIf="searchParamsEmailFormControl.email.errors.required" class="error-text">Email is required</div>
                              <div *ngIf="searchParamsEmailFormControl.email.errors.email" class="error-text">Enter valid email</div>
                              <div *ngIf="searchParamsEmailFormControl.email.errors.pattern" class="error-text">Domain should be "gmail.com” , minimum length should be 17</div>
                          </div>
                        </div>
                        <div class="col" *ngIf="access_permission_write">
                          <button type="button" class="btn btn-success float-right" (click)="registerEmail()">Register
                            Email</button>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </form>
      </div>
    </div>
  </div>

</div>

<div class="modal infoModal" [style.display]="showAlertModal ? 'block' : 'none'">
  <div class="modal-dialog modal-lg">
    <div class="modal-content">
      <div class="modal-body text-center">
        <b>{{alert}}.</b>
    </div>
    <div class="modal-footer">
        <button type="button" class="btn btn-primary me-md-3" (click)="closeAlertModal()">OK</button>
    </div>
    </div>
  </div>
</div>