
  <h4>Miscellaneous Job</h4><br>
    <!--Make entry in navigation  every Button created in misc. Job-->
  <table class="table table-bordered" style="background-color: white;">
    <thead>
      <tr>
        <th scope="col">S.No</th>
        <th scope="col">Function</th>
        <th scope="col">Action</th>
      </tr>
    </thead>
    <tbody>
      <tr>
        <th scope="row">1</th>
        <td>Wallet Backup</td>
        <td>
            <div *ngIf="access_permission_write_walletBackup">
                <button class="btn btn-primary" (click)="walletBackup()">Execute</button>
            </div>
        </td>
      </tr>
    </tbody>
  </table>


  <div class="modal infoModal" [style.display]="showAlertModal ? 'block' : 'none'">
    <div class="modal-dialog modal-lg">
      <div class="modal-content">
        <div class="modal-body text-center">
          <b>{{alert}}.</b>
      </div>
      <div class="modal-footer">
          <button type="button" class="btn btn-primary me-md-3" (click)="closeAlertModal()">OK</button>
      </div>
      </div>
    </div>
  </div>