table{
  width:100%;
  border-collapse: separate;
  border: spacing 50px;
  border: transparent;
}
.table-borderless > tbody > tr > td,
.table-borderless > tbody > tr > th,
.table-borderless > tfoot > tr > td,
.table-borderless > tfoot > tr > th,
.table-borderless > thead > tr > td,
.table-borderless > thead > tr > th {
    border: 5px;
   
}

::ng-deep .mat-sort-header-container {
  display:flex;
  justify-content:center;
}
th.mat-header-cell {
  text-align: center !important;
  justify-content:center !important;
}

td.mat-cell{
  border-right: solid 1px #ffffff; 
  border-left: solid 1px #ffffff;
  border-bottom :solid 1px #ffffff;
  border-top :solid 1px #ffffff;
  text-align: center !important;
}

