table{
  width:100%;
  border-collapse: separate;
  border: spacing 50px;
  border: transparent;
}
.table-borderless > tbody > tr > td,
.table-borderless > tbody > tr > th,
.table-borderless > tfoot > tr > td,
.table-borderless > tfoot > tr > th,
.table-borderless > thead > tr > td,
.table-borderless > thead > tr > th {
    border: 5px;
   
}
::ng-deep .mat-sort-header-container {
  display:flex;
  justify-content:center;
}
